{% extends 'base quiz.html' %}
{% block title %}Тест{% endblock %}
{% load static %}

{% block content %}
    <div id="margin-top-15" class="examtest">
        <a href="{% url 'learningapp:quizattempts' course_slug %}" style="text-align: right; float: right;">Вернуться в курс</a><br>             
        <div class="mb-textcenter display-block" style="display: flex">
            <h3 class="margin-bottom-0">{{ quiz }}</h3>
        </div>   
        <div class="block1 margin-left-0 float-none center-text" style="float:right; padding:10px 5px; width: 160px; margin-left: 10px; margin-top:10px; white-space: nowrap; border: 1px solid #E7E7E7; border-radius:5px;">
            Оставшееся время:
            <h5><div id="coundown-box">{{ timer_time }}</div></h5>
        </div>
    <div id="hide-des-div">
        <h4>Вопросы</h4>
        {% if paginator.count > 20 %}
            <div class="pagination">
                {% if page_obj.number > 6 %}

                        <a href="?page=1">1</a>
                        {% if page_obj.number > 7 %}
                            <a href="#" style="pointer-events: none; cursor: default;">...</a>
                        {% endif %}
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <a href="?page={{ p }}" class="active">{{ p }}</a>
                    {% elif p > page_obj.number|add:'-6' and p < page_obj.number|add:'6' %}

                            <a href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.number < paginator.num_pages|add:'-6' %}
                    <a href="#" style="pointer-events: none; cursor: default;">...</a>

                        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                {% elif page_obj.number < paginator.num_pages|add:'-5' %}

                        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                {% endif %}
            </div>
        {% else %}
            <div class="pagination">
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <a href="?page={{ p }}" class="active">{{ p }}</a>
                    {% else %}

                            <a href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div id="hide-mob-div">
        <h4>Вопросы</h4>
        <div class="mb-textcenter">
            <div class="pagination">
                {% if page_obj.number > 2 %}

                        <a href="?page=1">1</a>
                        {% if page_obj.number > 3 %}
                            <a href="#" style="pointer-events: none; cursor: default;">...</a>
                        {% endif %}
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <a href="?page={{ p }}" class="active">{{ p }}</a>
                    {% elif p > page_obj.number|add:'-2' and p < page_obj.number|add:'2' %}

                            <a href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.number < paginator.num_pages|add:'-2' %}
                    <a href="#" style="pointer-events: none; cursor: default;">...</a>

                        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                {% elif page_obj.number < paginator.num_pages|add:'-1' %}

                        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                {% endif %}
            </div>            
        </div>
    </div>
    <div id="hide-des-div">
        <br><br>        
    </div>
    <br>
    <div>
        <form method="POST" class="multipart/form-data">
        {% for q in object_list %}
            <div id="hide-des-div" style="font-size:300%; float:left; text-align:center; margin-bottom: 10px; min-width:80px; margin-right: 10px">{{ page_obj.number }}</div>
            <div class="margin-bottom-20" style="font-size:120%; margin-bottom:50px;">
                <b>{{ q.text }}</b>
            </div>    
        
            {% csrf_token %} 
            <div class="">  
            {% for a in q.answer_set.all|shuffle %}
                {% if a.id in answers_options %}
                    <div class="answer">
                        <label class="container" for="{{ a.id }}">
                            {% if "base64" in a.text %}
                                {{ a.text|decodeDesignImage }}
                            {% else %}
                                {{ a.text }}
                            {% endif %}
                            <input class="" type="checkbox" id="{{ a.id }}" name="answeroption" value="{{ a.id }}" checked>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                {% else %}
                    <div class="answer">
                        <label class="container" for="{{ a.id }}">
                            {% if "base64" in a.text %}
                                {{ a.text|decodeDesignImage }}
                            {% else %}
                                {{ a.text }}
                            {% endif %}
                            <input class="" type="checkbox" id="{{ a.id }}" name="answeroption" value="{{ a.id }}">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            <div id="hide-des-div">
                <br>       
            </div>
            <br>
        {% endfor %}
        <hr style="border-top: 1px">
        <div class="row">
            <div class="column30">
                <div class="mb-textcenter">
                    {% if page_obj.number == page_obj.paginator.num_pages %}
                        <button type="submit" class="button">Ответить и Завершить тест</button>
                    {% else %}
                        <button type="submit" class="button">Ответить</button>
                    {% endif %}
                </div>
            </div>
            <div class="column70">
                <div id="hide-des-div" style="padding-top: 6px;">
                    Выберите правильный(ые) ответ(ы) на вопрос и нажмите кнопку "Ответить". После этого ответ будет сохранен, но вы сможете изменить его при необходимости.
                </div> 
            </div>
        </div>
        </form>
    </div>
    <div id="hide-mob-div">
        <br>        
    </div>

{{ js_end_date|json_script:"mydata" }}
<style>
	body { 
		-ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
	}
</style>
<script src="{% static 'examapp/js/timer.js' %}"></script>
{% endblock %}
