{% extends 'base learning.html' %}
{% block title %}Попытки теста{% endblock %}

{% block content %}
<div style="background-color: #E2EBF6;">
    <nav class="bootcontainer">
        <div id="hide-des-div" class="row">
            <div class="column50">
                <ul class="breadcrumb" style="margin-top: 0; margin-bottom: 0; background: #E2EBF6;">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{% url 'learningapp:courselist' %}">Курсы</a></li>
                    <li><a href="{% url 'learningapp:selectcourse' course_slug %}">Курс</a></li>
                    <li>Попытки</li>
                </ul>
            </div>
            <div class="column50" style="margin-left: auto; margin-right: 0px;">
                <div style="padding-top: 17px; text-align:  right;">
                    <a href="{% url 'managementapp:about' %}" style="color: #000; text-decoration: none;">
                        <p style="display: inline; padding-left: 17px;">О портале</p>
                    </a>
                    <a href="{% url 'managementapp:support' %}" style="color: #000; text-decoration: none;">
                        <p style="display: inline; padding-left: 15px;">Техническая поддержка</p>
                    </a>
                    {% if template == 'shgi' %}
                        <a href="/media/Инструкция Пользователя.pdf" style="color: #000; text-decoration: none;">
                            <p style="display: inline; padding-left: 15px;">Инструкция</p>
                        </a>
                    {% endif %}                 
                </div>
            </div>
        </div>
        <div id="hide-mob-div" class="topnav">
            <ul>
                <li><a href="{% url 'learningapp:courselist' %}">Курсы</a></li>
                <li><a href="{% url 'learningapp:selectcourse' course_slug %}">Курс</a></li>
                <li>Попытки</li>
            </ul>
            <div id="myLinks">
                <a href="{% url 'managementapp:about' %}" style="color: #000; text-decoration: none;">О портале</a>
                <a href="{% url 'managementapp:support' %}" style="color: #000; text-decoration: none;">Техническая поддержка</a>
                <a href="/media/Инструкция Пользователя.pdf" style="color: #000; text-decoration: none;">Инструкция</a> 
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div> 
    </nav>

</div>
<div id="popup_hd">
    <div id="popup_helpdesk"><br>
        Контакты технической поддержки<br><br>
        Электронная почта: support@sdo-vot.ru<br>
        Тел: +7(495) 320-88-07<br><br>
        <a href="#" class="close">Закрыть окно</a>
    </div>
</div>
<div id="margin-top-15" class="examtest mb-textcenter" style="min-height: 440px; margin-bottom: 150px;">
    <div id="rowoff" class="row">
        <div id="column-off" class="column50">
            <h3 class="inh3" style="padding-top: 10px;">Попытки тестирования</h3>
        </div>
        <div id="column-off" class="column50">
            <div class="row">
                <div style="flex: 80%; text-align: right;">
                    <form method="POST" class="multipart/form-data">
                        {% csrf_token %} 
                        {% if last_attempt.status.name == 'В процессе' %}
                            <button  type="submit" class="button">Продолжить Тестирование</button>
                        {% else %}
                            <button  type="submit" class="button">Начать Попытку</button>
                        {% endif %}
                    </form>        
                </div>
                <div style="flex: 20%; text-align: right;">
                    <a class="button" href="{% url 'learningapp:selectcourse' course_slug %}">Назад</a>

                </div>
            </div>
        </div>
    </div>
    <div id="hide-mob-div">
        <br>        
    </div>
    <hr>
    <div id="hide-des-div">
        <br>      
    </div>
    <td style="border-bottom: 0px;">
        <div id="rowoff" class="row">
            <div id="column-off" class="column40 textleft">
                <div id="hide-des-div">
                    <br><br><br>        
                </div>
                <p>Всего вопросов в курсе: {{ course|question_count:request.user }}</p>
                <p>Изучено в режиме тренинга: {{ course|get_studied_questions:request.user }} из {{ course|question_count:request.user }}</p>
                <p>
                    Вероятность успешной аттестации: {{ course|get_percent:request.user }}% <a href="#zatemnenie4"><i class='fa fa-question-circle' style='color: #228fdb; font-size: 20px;'></i></a>
                </p>
                <div id="zatemnenie4">
                    <div id="okno">
                        Вероятность успешной аттестации<br><br>
                        Расчет вероятности выполнен в соответствии с Вашими успехами в изучении курса<br><br>
                        <a href="#" class="close">Закрыть окно</a>
                    </div>
                </div>
            </div>
            <div id="hide-mob-div">
                <hr><br>      
            </div>
            <div id="column-off" class="column60">
                <table class="mob-att-table" style="width: 100%;">
                    <tr>
                        <th>Состояние</th>
                        <th>Длительность</th>
                        <th>Показатель</th>
                        <th>Результат</th>
                    </tr>
                {% for obj in object_list %}
                    <tr>
                        {% if obj.timefinish != None %}
                            <td style="width: 60%;">
                                {{ obj.quiz }}<br>
                                {{ obj.status }}<br>
                                <a href="{% url 'learningapp:report' course_slug obj.id %}">Отчет</a><br>
                                {{ obj.timefinish }}
                            </td>
                        {% else %}
                            <td style="width: 60%;">
                                {{ obj.quiz }}<br>
                                Начат<br>
                                {{ obj.timestart }}
                            </td>
                        {% endif %}            
                        {% if obj.timefinish != None %}
                            <td>{{ obj.timefinish|delta:obj.timestart }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if obj.status.id == 3 %}
                            <td><label class="percentresult">{{ obj|percent_result }}%</label></td>
                            {% if obj|percent_result >= 90 %}
                                <td><label class="examresulttrue">сдан</label></td>
                            {% else %}
                                <td><label class="examresultfalse">не сдан</label></td>
                            {% endif %}
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}              
                    </tr>
                {% endfor %}
                </table><br>
                <div class="textcenter">                        
                    {% if paginator.count > 10 %}
                        <div class="pagination">
                            {% if page_obj.number > 3 %}
                                <a href="?page=1">1</a>
                                {% if page_obj.number > 4 %}
                                    <a href="#" style="pointer-events: none; cursor: default;">...</a>
                                {% endif %}
                            {% endif %}
            
                            {% for p in paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <a href="?page={{ p }}" class="active">{{ p }}</a>
                                {% elif p > page_obj.number|add:'-3' and p < page_obj.number|add:'3' %}
                                    {% if p in checked_page %}
                                        <a style="color: black; background-color: #E7E6E7;" href="?page={{ p }}">{{ p }}</a>
                                    {% else %}
                                        <a href="?page={{ p }}">{{ p }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
            
                            {% if page_obj.number < paginator.num_pages|add:'-3' %}
                                <a href="#" style="pointer-events: none; cursor: default;">...</a>
                                {% if paginator.num_pages in checked_page %}
                                    <a style="color: black; background-color: #E7E6E7;" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                                {% else %}
                                    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                                {% endif %}
                            {% elif page_obj.number < paginator.num_pages|add:'-2' %}
                                {% if paginator.num_pages in checked_page %}
                                    <a style="color: black; background-color: #E7E6E7;" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                                {% else %}
                                    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="pagination">
                            {% for p in paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <a href="?page={{ p }}" class="active">{{ p }}</a>
                                {% else %}
                                    <a href="?page={{ p }}">{{ p }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </td>
</div>


{% endblock %}