{% extends 'base.html' %}
{% block title %}О портале{% endblock %}

{% block content %}

<div class="examtest" style="min-height: 440px;">
    <br><br><br>
    <div>

        <p>Сервис обучения и подготовки «Школа главного инженера» — это универсальный инструмент позволяющий в короткие сроки выучить материал и успешно сдать экзамен.</p>
        <p>Вы можете пройти подготовку в режиме тренинга и проверить свои знания в интерфейсах аналогичных Единому порталу тестирования Ростехнадзора.</p>
        <p>В текущей версии «Школы Главного Инженера» Вы можете подготовить себя и свой персонал к аттестации в Ростехнадзоре* по направлениям:</p>
        <p>- Аттестация руководителей и специалистов (постановление Правительства РФ №1365);</p>
        <p>- Проверка знаний норм и правил в области энергетического надзора (группа электробезопасности).</p>
        <br><br>
        <p>*вопросы соответствуют размещенным на сайте Ростехнадзора.</p>
        <br><br><br><br><br><br>
    </div>
    <div style="text-align: center;">
        <a class="button" href="{% url 'managementapp:home' %}">Вернуться на главную страницу</a>
    </div>
</div>

{% endblock %}