{% extends 'base manager.html' %}
{% load static %}
{% block title %}Техническая поддержка{% endblock %}
 
{% block content %}
<div style="background-color: #E2EBF6;">
    <nav class="bootcontainer">
        <div id="hide-des-div" class="row">
            <div class="column50">
                <ul class="breadcrumb" style="margin-top: 0; margin-bottom: 0; background: #E2EBF6;">
                    <li><a href="/">Главная</a></li>
                    <li>Заявки</li>
                </ul>
            </div>
            <div class="column50" style="margin-left: auto; margin-right: 0px;">
                <div style="padding-top: 17px; text-align:  right;">
                    <a href="{% url 'managementapp:about' %}" style="color: #000; text-decoration: none;">
                        <p style="display: inline; padding-left: 17px;">О портале</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="hide-mob-div" class="topnav">
            <ul>
                <li><a href="/">Главная</a></li>
            </ul>
            <div id="myLinks">
                <a href="{% url 'managementapp:about' %}" style="color: #000; text-decoration: none;">О портале</a>
                <a href="" style="color: #000; text-decoration: none;">Инструкция обучающегося</a> 
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div> 
    </nav>

</div>
<div id="popup_hd">
    <div id="popup_helpdesk">
        Контакты технической поддержки<br><br>
        Электронная почта: support@sdo-vot.ru<br>
        WhatsApp/Telegram: +7(495) 476-54-88<br><br>
        <a href="#" class="close">Закрыть окно</a>
    </div>
</div>
<div class="examtest" style="min-height: 440px;">
    <form method="post" class="multipart/form-data">
        {% csrf_token %}
        <h2 style="text-align: center;">Техническая поддержка</h2><hr>
        <div id="rowoff" class="row">
            <div id="column-off" class="column40">
                <p>Контакты технической поддержки:</p>
                <p>Электронная почта: support@sdo-vot.ru</p>
                <p>Телефон: +7(495) 476-54-88</p>
            </div>
            <div id="hide-mob-div">
                <br>      
            </div>
            <div id="column-off" class="column60" style="text-align: center;">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input class="input-white" name="name" placeholder="Укажите ФИО*" type="text" required><br><br>
                <input class="input-white" name="login" placeholder="Укажите Логин" type="text"><br><br>
                <input class="input-white" name="email" placeholder="Укажите ваш Email*" type="text" required equired pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"><br><br>
                <textarea class="input-white" name="text" placeholder="Сообщение в тех. поддержку*" cols="50" rows="3" required></textarea>
                <div id="hide-des-div">
                    <br><br><br><hr>        
                </div>
                <div id="hide-mob-div">
                    <br>      
                </div>
                <button type="submit" name="form_type" value="send_email" class="button-white" style="height: 74px;">Отправить сообщение</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}