{% extends 'base manager.html' %}
{% block title %}Отчет{% endblock %}
{% load static %}

{% block content %}
<div style="background-color: #E2EBF6;">
    <nav class="bootcontainer">
        <div class="row">
            <div class="column50">
                <ul class="breadcrumb" style="margin-top: 0; margin-bottom: 0; background: #E2EBF6;">
                    <li><a href="{% url 'managementapp:users' %}">Пользователи</a></li>
                    <li><a href="{% url 'managementapp:usercourses' user_id %}">Курсы</a></li>
                    <li>Отчет</li>
                </ul>
            </div>
            <div class="column50" style="text-align: right;">
                <div style="padding-top: 17px;">
                    <a href="{% url 'managementapp:about' %}" style="color: #000; text-decoration: none;">
                        <p style="display: inline; padding-left: 17px;">О портале</p>
                    </a>
                    <a href="{% url 'managementapp:support' %}" style="color: #000; text-decoration: none;">
                        <p style="display: inline; padding-left: 15px;">Техническая поддержка</p>
                    </a>
                    <div id="popup_hd">
                        <div id="popup_helpdesk"><br>
                            Контакты технической поддержки<br><br>
                            Электронная почта: support@sdo-vot.ru<br>
                            Тел: +7(495) 476-54-88<br><br>
                            <a href="#" class="close">Закрыть окно</a>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </nav>

</div>
<br>
<div id="capture" class="examtest" style="min-height: 440px; margin-bottom: 150px;">
    <div id="savebutton" style="display: block;">
        <button type = "button" name = "button" onclick = "convert()">Скачать</button><br><br>
    </div>
    <table border="1" style="width: 100%;">
        <tr>
            <th style="width: 1rem;">
                {% if not 'expert' in template %}
                    <img src="{% static 'managementapp/css/шгич.png' %}" style="max-width: 13em;">
                {% else %}
                    <img src="{% static 'managementapp/css/expert-clear.png' %}" style="max-width: 4em;">
                {% endif %}
            </th>
            <th>
                Область: {{ object.quiz.course.full_name }}<br>
                Организация: {{ extend_user.department }}<br>
                ФИО: {{ object.user.last_name }} {{ object.user.first_name }} {{ extend_user.middle_name }}
            </th>
            <th>
                Дата: {{ object.timefinish }}<br>
                Итоговая оценка: 
                    {% if object.grade|best_percent_result:quizattempt_id >= 90 %}
                        Cдан
                    {% else %}
                        Не сдан
                    {% endif %}
                <br>
                ({{ object.grade|floatformat }} из {{ object.quiz.max_grade }}) 
            </th>
        </tr>        
    </table>
    <table border="1">
        <tr>
        <th>№</th>
        <th>Вопрос</th>
        <th>Выбранный ответ</th>
        <th>Правильный ответ</th>
        </tr>
        {% for q in attempt_questions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ q.text }}</td>
                <td>
                    {% for a in q.id|attempt_answers:object.id %}
                        <!-- {% if not forloop.first and forloop.last %}
                            {{ forloop.counter }}
                        {% endif %} -->
                        {% if a.weight != 0 %}
                            <label style="color: rgb(14, 202, 14);"> {{ a.text }}</label><br><br>
                        {% else %}
                            <label style="color: red;"> {{ a.text }}</label><br><br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for a in q.answer_set.all %}
                        {% if a.weight != 0 %}
                            <label> {{ a.text }}</label><br><br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
</div>
<script type="text/javascript" src="{% static 'managementapp/js/savereport.js' %}"></script>
<script type="text/javascript" src="{% static 'managementapp/js/html2canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'managementapp/js/FileSaver.js' %}"></script>

{% endblock %}