{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'examapp/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="/media/icon.ico">
    {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> {% endcomment %}
    <script src='https://www.google.com/recaptcha/api.js?render=6LfkYW0eAAAAAExou1PUJwUC6XT7nv1ecjk_x-hl'></script>
<title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="bootcontainer header">
            <div class="row">
                <div class="column30" style="padding-top: 17px; padding-left: 13px;">
                    <a href="/" style="color: #fff; text-decoration: none;">
                        <img id="pic-em" src="{% static 'managementapp/css/шги.png' %}" style="max-width: 13em;">
                    </a>
                </div>
                <div class="column70" style="text-align: right; padding-top: 20px;">
                    {% if request.user.is_authenticated %}
                        <div class="row">
                            <div class="column60"></div>
                            <div class="column5" style="padding-right: 5px;">
                                <a href="{% url 'managementapp:support' %}">
                                    <img src="{% static 'managementapp/pic/support.png' %}" style="width: 3em;">
                                </a>
                            </div>
                            <div class="column20" style="text-align: left;">
                                <p style="margin-top: 7px; margin-bottom: 0px;">+7(495) 320-88-07</p>
                                <p style="margin-top: 0px;">support@sdo-vot.ru</p>
                            </div>
                            <div class="column5" style="padding-left: 20px;">
                                <div class="dropdown">
                                    <img class="dropbtn" src="{% static 'managementapp/pic/lk.png' %}" style="width: 3em;">
                                    <div class="dropdown-content" style="text-align: left;">
                                        <p style="color: black; padding-left: 16px;">{{ user.first_name }} {{ user.last_name }}:</p>
                                        <a href="{{ user|check_home_page }}">Личный кабинет</a>
                                        <a href="{% url 'managementapp:logout' %}">Выход</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a class="button-white-white" style="color: white; font-weight: bold;" href="{% url 'managementapp:login' %}">Войти</a>
                    {% endif %}                 
                </div>                
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %} 
    </main>
    <footer id="footer">
        <div class="bootcontainer">
            <div class="row">
                <div class="column25">
                    <div class="row" style="padding-top: 15px;">
                        <div class="column30">
                            <img src="{% static 'examapp/css/resources/img/favicon_exam.png' %}" style="width: 3em;">
                        </div>
                        <div class="column70">
                            <a href="https://www.gosnadzor.ru" style="color: #000; text-decoration: none;">
                                <p>Роcтехнадзор</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column25">
                    <div class="row">
                        <div class="column30" style="padding-top: 15px; margin-right: 20px;">
                            <img src="{% static 'examapp/css/resources/img/shgi.png' %}" style="width: 5em;">
                        </div>
                        <div class="column70" style="padding-top: 7px;">
                            <a href="https://sdovot.ru/" style="color: #000; text-decoration: none;">
                                <p>Школа главного инженера</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column25">
                    <div class="row">
                        <div class="column30" style="padding-top: 15px;">
                            <img src="{% static 'examapp/css/resources/img/mintrud_logo.jpg' %}" style="width: 3em;">
                        </div>
                        <div class="column70" style="padding-top: 7px;">
                            <a href="https://mintrud.gov.ru" style="color: #000; text-decoration: none;">
                                <p>Министерство труда и социальной защиты</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column25">
                    <div class="row">
                        <div class="column30" style="padding-top: 15px;">
                            <img src="{% static 'examapp/css/resources/img/gov-4.png' %}" style="width: 4em;">
                        </div>
                        <div class="column70">
                            <a href="http://pravo.gov.ru" style="color: #000; text-decoration: none;">
                                <p>Официальный интернет-портал правовой информации</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </footer>
</body>
<script type="text/javascript" src="{% static 'examapp/js/mobilenav.js'%}"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]function(){(m[i].a=m[i].a[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(90650371, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/90650371" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
</html>
